<div class="card" id="unowned-games-cards">
    {{!-- Game title --}}
    <div class="card-block" id='title'>
        <h3 class="card-title text-center" id='card-game-title'>
            {{name}}
        </h3>
    </div>
    {{!--  --}}
    <div class="row" id='card-text'>
        <div class="col-md-6" id='-col'>
            <h5 id='card-desc-title'>
                Description:
            </h5>
            <p id='description-card'>
                {{description}}
            </p>
        </div>
        <div class='col-md-6' id='info-col'>
            <div class="row" id='card-text-info'>
                <h5 id='card-genre-title'>
                    Genre(s):
                </h5>
                <p id='all-info-cards'>
                    {{genres}}
                </p>
            </div>

            <div class="row" id='card-text-info'>
                <h5 id='platform-title'>
                    Platform(s):
                </h5>
                <p id='all-info-cards'>
                    {{platforms}}
                </p>
            </div>
            <div class="row" id='card-text-info'>
                <h5 id='release-date-title'>
                    Release Date:
                </h5>
                <p id='all-info-cards'>
                    {{releaseDate}}
                </p>
            </div>
        </div>
    </div>

    {{!-- Game Picture --}}
    <div class="row" id='game-picture-row'>
        {{#each Images}}
        <div class="col-md-4 game-img-col">
            <img src="{{url}}" alt="" id='game-img'>
        </div>
        {{/each}}
    </div>
    {{!--  --}}

    {{#unless upcoming}}
    <div class="card-block" id='btn-block'>
        <div class="row" id='button-row'>
            {{#unless owned}}
            <div class="col" id='buttons-unowned-cards'>
                <button href="#" class="btn btn-block btn-lg btn-primary" id='add-btn'>
                    Add
                </button>
            </div>
            {{else}}
            <div class="col" id='buttons-unowned-cards'>
                <button href="#" class="btn  btn-block btn-lg btn-danger" id='delete-btn'>
                    Delete
                </button>
            </div>
            {{/unless}}
        </div>
    </div>
    {{/unless}}
</div>
{{!--  --}}